.github-corner svg {
    z-index: 1000;
}

/* TODO: insert main styles of your demo here */

.full-width {
  width: 100%;
}

.codeblock {
  margin-top: 10px;
}

.codeblock .syntax {
  margin-top: 10px;
}

.syntax pre {
  font-size: 12px !important;
}

#jsoneditor {
  height: calc(100vh - 40px);
  width: 400px;
}

.playground-container {
  height: calc(100vh - 40px);
}

.aztec-container {
  position: absolute;
  left: 420px;
  width: calc(100vw - 420px);
  overflow-y: scroll;
  height: 100%;
}
