.github-corner svg {
    z-index: 1000;
}

/* TODO: insert main styles of your demo here */

.full-width {
  width: 100%;
}

.codeblock {
  margin-top: 10px;
}

.codeblock .syntax {
  margin-top: 10px;
}

.syntax pre {
  font-size: 12px !important;
}
